<?xml version="1.0" encoding="UTF-8" ?>
<!DOCTYPE configuration
  PUBLIC "-//mybatis.org//DTD Config 3.0//EN"
  "http://mybatis.org/dtd/mybatis-3-config.dtd">
<configuration>
 
<!--     JDBCの設定です(1) -->
    <environments default="javapracticeDB">
        <environment id="javapracticeDB">
            <transactionManager type="JDBC" />
            <dataSource type="POOLED">
                <property name="driver" value="com.mysql.jdbc.Driver" />
                <property name="url" value="jdbc:mysql://localhost:3306/javapracticeDB" />
                <property name="username" value="root" />
                <property name="password" value="" />
            </dataSource>
        </environment>
    </environments>
 
<!--     エンティティのパッケージを指定します(2) -->
    <mappers>
        <mapper class="com.javapractice.app.mybatis.client.TbDiaryMapper" />
        <mapper class="com.javapractice.app.mybatis.client.TbDiaryAkMapper" />
        <mapper class="com.javapractice.app.mybatis.client.TbExecClassMapper" />
    </mappers>
</configuration>